# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.log
*.tmp
